<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.id %></td>
        <td><%= todo.name %></td>
        <td><%= todo.description %></td>
        <td><%= todo.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
